<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Chia faucet</title>
  <meta content="" name="Free chia for everyone">
  <meta content="" name="Chia faucet">
  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DG65818RDX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DG65818RDX');
</script>

</head>

<body>


  <!-- ======= Hero Section ======= -->

{% block content -%}
      {% if sent_amount -%}
      {% else -%}
    <section id="hero">
    <div class="hero-container">
      <h1>Welcome to Chia Faucet</h1>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
    {% endif %}
{% endblock -%}
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="base.html"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="base.html" class="logo me-auto me-lg-0"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="/">Welcome</a></li>
          <li><a class="nav-link scrollto" href="/2k">2,000 mojos per hour</a></li>
          <li><a class="nav-link scrollto" href="/100k">100,000 mojos per 12 hours</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex align-items-center">

      </div>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          {% block article -%}
          {% if main -%}
                  {% else -%}
                    <h2></h2>
          <h3>We've updated our payout system, from now troubles should go away.</h3>
            <h3>if not, let us know, text us in telegram.</h3>
          <h2></h2>
          {% endif %}
          {% endblock -%}
        </div>

        <div class="row content">

        <div class="row wallet-addres-xch-claim justify-content-center">

<!--  <div class="xc449bad4854773ff" data-zone="b1e2db80e48d41c3b81a26a9b13fddd5" style="width:728px;height:90px;display: inline-block;margin: 0 auto"></div> -->
          <div style="text-align: center;">


</div>
                      <div id="ZosckPxREUKa">
  Our website is made possible by displaying online advertisements to our visitors.<br>
  Disable AdBlock on our website to claim Chia.
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
  <script type="text/javascript">
	atOptions = {
		'key' : '6c1eed3c09e969ead5b91664aed78ba2',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.variouscreativeformats.com/6c1eed3c09e969ead5b91664aed78ba2/invoke.js"></scr' + 'ipt>');
</script>
<script type='text/javascript' src='//pl16492215.highperformancecpm.com/b7/9f/30/b79f30443748d833e2e0aa9a9fd1a5e8.js'></script>
    </div>
  </div>
</div>
          <div class="col-lg-6">
          {% block form -%}

{% endblock -%}
   </div>



{% if adsru1 -%}
<script src= "https://cdn.alfasense.net/lib/alfadart.lib.min.js"></script>
<script src= "https://cdn.alfasense.net/js/layout_114.js"></script>
<script src= "https://cdn.alfasense.net/lib/ad_builder.min.js" defer="defer"></script>
{% else %}
{% endif %}
{% if adsru2 -%}
<script type="text/javascript">
	atOptions = {
		'key' : '6c1eed3c09e969ead5b91664aed78ba2',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivedisplayformat.com/6c1eed3c09e969ead5b91664aed78ba2/invoke.js"></scr' + 'ipt>');
</script>
{% else %}
{% endif %}

        </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">
        <div class="row counters">
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{total_xch_faucet_users}}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Unique wallets</p>
          </div>
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{total_xch_faucet_claims}}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Total Claims</p>
          </div>
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{pending_2k}}" data-purecounter-duration="1" class="purecounter"></span>
            <p>2k Payout pending</p>
          </div>
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{pending_100k}}" data-purecounter-duration="1" class="purecounter"></span>
            <p>100K Payout pending</p>
          </div>
        </div>
      </div>
    </section><!-- End Counts Section -->


  </main><!-- End #main -->


<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2></h2>
          <h3>News moved to the <a href="https://t.me/chiafaucet">telegram channel!</a> stay tuned with the latest news!</h3>
          <h2></h2>
        </div>

      </div>
    </section><!-- End Contact Section -->

  <div id="adfox_162427641385576533"></div>
<script>
    window.Ya.adfoxCode.create({
        ownerId: 385229,
        containerId: 'adfox_162427641385576533',
        params: {
            pp: 'i',
            ps: 'ezwa',
            p2: 'gnhu'
        }
    });
</script>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/vendor/purecounter/purecounter.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>




<style>
#ZosckPxREUKa {
display: none;
margin-bottom: 30px;
padding: 20px 10px;
background: #D30000;
text-align: center;
font-weight: bold;
color: #fff;
border-radius: 5px;
}
</style>


<script src="/static/wp-banners.js" type="text/javascript"></script>
<script type="text/javascript">

if(!document.getElementById('bTUaHhNlpGqL')){
  document.getElementById('ZosckPxREUKa').style.display='block';
  document.getElementsByClassName('col-lg-6')[0].style.visibility = 'hidden';
}
</script>
</body>

</html>
