{% extends 'base.html' %}
 {% block content %}
          {% if sent -%}
    <section id="hero">
    <div class="hero-container">
      <h1>{{ amount }} mojo has been sent</h1>
        <h2>See you in 12 hours!</h2>
        <h2><a href="https://www.google.ru/search?q=site%3AGett.ga+Chia+Faucet">Out of claims? Visit our friends at Gett Chia!</h2>
      <a href="/" class="btn-get-started scrollto">Get started!</a>
    </div>
        {% else -%}
    <section id="hero">
    <div class="hero-container">
      <h1>{{ amount }} mojo has been sent</h1>
      <h2>We're revealing new bonus faucet!</h2>
        <h2>100 000 mojos per 12 hours!</h2>
        <h2>Click down to claim!</h2>
      <a href="/bonus" class="btn-get-started scrollto">2 000 mojos is not enough? Claim 100 000 mojos extra!</a>
      <h2><a href="https://www.google.ru/search?q=site%3Agett.ga+Gett+Chia+Faucet">Out of claims? Visit our friends at Gett Chia!</h2>
    </div>
         {% endif %}
{% endblock %}

{% block form %}
{% if amount -%}
{% else -%}
          <div class="col-lg-6">
            <form id="hjg" action="/" method="post" >
              <input type="text" name="xch_wallet" placeholder="Enter your XCH wallet"> <input type="submit" value="Claim!" >
            </form>

          </div>
{% endif %}
{% endblock %}